---
// /autism-meltdowns/how-to-help → redirect to /resources/meltdowns/how-to-help
---
<meta http-equiv="refresh" content="0; url=/resources/meltdowns/how-to-help" />
<script is:inline>window.location.replace('/resources/meltdowns/how-to-help');</script>
<link rel="canonical" href="/resources/meltdowns/how-to-help" />
<p style="font-family:sans-serif;">Redirecting to <a href="/resources/meltdowns/how-to-help">How to Help During an Autism Meltdown</a>…</p>
