---
// /the-blog/ and /blog/ → redirect to /resources
---
<meta http-equiv="refresh" content="0; url=/resources" />
<script is:inline>window.location.replace('/resources');</script>
<link rel="canonical" href="/resources" />
<p style="font-family:sans-serif;">Redirecting to <a href="/resources">Resource Center</a>…</p>
