---
// /podcasts/ → redirect to /practitioner-perspectives (branded URL)
---
<meta http-equiv="refresh" content="0; url=/practitioner-perspectives" />
<script is:inline>window.location.replace('/practitioner-perspectives');</script>
<link rel="canonical" href="/practitioner-perspectives" />
<p style="font-family:sans-serif;">Redirecting to <a href="/practitioner-perspectives">Practitioner Perspectives Podcast</a>…</p>
